body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
}

h2 {
    color: seagreen;
    font-size: 40px;
    font-style: bold;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 28px;
}

h3 {
    color: teal;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}